<!-- <a href="https://br.freepik.com/fotos-vetores-gratis/escola">Escola vetor criado por freepik - br.freepik.com</a> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <title>Back to School</title>
</head>
<body>
    <header class="primary-menu">
        <div class="container">
            <div class="logo">LOGO</div>
            <nav class="menu">
                <div class="menu-top">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">New</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">About</a></li>
                    </ul>
                </div>
                <div class="">
                    <input class="search" type="search" name="" id="site-search" placeholder="Search">
                </div>
                <div class="shopping-cart">
                    <img src="assets/img/shopping-cart.png" alt="">
                </div>
            </nav>
           
        </div>
       
    </header>
</body>
</html>