* {
    margin: 0;
    padding: 0;
}

.primary-menu {
    height: 55px;   
    line-height: 50px;
}

.container {
    width: 970px;
    margin: auto;
}

.logo {
    float: left;
    font-size: 20px;
}

.menu {
    display: inline-flex;
    float: right;
}

.menu li {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 25px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.search {
    border: none;
    background-color: #DFEAE4;
    margin-left: 15px;
    height: 25px;
    width: 115px;
    border-radius: 12px;
    padding-left: 13px;
}

.shopping-cart {
    margin-top: 4px;
    margin-left: 13px;
}

.main {
    height: calc(100vh - 55px);
    background-color: #48b087;
}

.main .container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}



.main-title {
    padding-top: 120px;
    font-size: 100px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.41em;
}

.main-title span {
    color: #19442a;
    font-size: 40px;
    font-weight: bold;
}

.main p {
    margin-top: 15px;
    width: 220px;
    font-size: 12px;
    color: white;
    word-wrap: break-word;
}

.btn {
    
}

.main .btn-shop {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: #19442a;
    text-transform: uppercase;
    font-weight: bold;
}

.social-midia {
    margin-bottom: 50px;
    
}

.social-midia img {
    margin-right: 15px;
}

